.mainContainer{

  display:  flex;
  flex-direction: column;

}

.page-header{
  text-align: center;
}

.table-component form{
  margin-bottom: 20px;
}

.filterArea{
  display: flex;
    justify-content: space-between;
}

.filterButtons{
  padding-top: 16px;
}
.delete_each_user{
  color: #d9534f;
  cursor: pointer;
}

input:focus{
    outline: none;
}


body {
  padding: 1rem 0;
}

label {
  cursor: pointer;
}

.table-wrap {
  position: relative;
  overflow: auto;
  max-height: 345px;
}


.search_input{
  display: block;
  width: 100%;
  padding: 7px;
  border: 0;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial,Helvetica,sans-serif;
  height: 45px;
}
